* {
  box-sizing: border-box;
}

.portada_container {
  margin: 0 !important;
  padding: 0 !important ;
  background-color: aqua;
}
.navbar-collapse {
  justify-content: right;
}

header .navbar {
  background-color: transparent !important;
}
@media (min-width: $mqMinWidth) {
}

@media (min-width: $mqMinWidth) {
}
