/*------------------------------------*\
  #ALL
\*------------------------------------*/

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-family-base;
}

p {
  margin: 0 !important;
}

.body {
  background-color: $secondary-color;
}

.main {
  @include Hcenter;
  width: 100%;
}

/*------------------------------------*\
  #REPARTO #HISTORIA #VIDEOS & FOTOS
\*------------------------------------*/

.container__main {
  width: 90%;
  display: grid;
  grid-template-columns: 40px 10px 1fr;
  grid-template-rows: 50px 10px 1fr;
}

.container__grid-item1 {
  grid-area: 1 / 1 / 1 / 1;
}

.container__grid-item2 {
  grid-area: 3 / 1 / 4 / 1;
}

.container__grid-item3 {
  grid-area: 3 / 3 / 4 / 4;
}

.inner {
  width: 75%;
  justify-self: center;
}

/*------------------------------------*\
  #NAV
\*------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 3;
}

.navbar {
  background-color: transparent;
}

.navbar-collapse {
  justify-content: right;
}

.navbar-brand {
  width: 50px;
}

.container-fluid {
  justify-content: flex-end;
}

/*------------------------------------*\
  #PORTADA
\*------------------------------------*/

.portada__container {
  width: 90%;
  height: 100%;
  margin: 0px auto;
}

.titulo {
  width: 100%;
  font-family: $font-family-sans-serif;
  font-size: 3.5rem;
  margin: 0 auto;
  @include Hcenter;
}

.portada__titulo2 {
  color: $primary-color;
  font-family: $font-family-serif;
  margin: 0px auto;
  display: inline;
  @include Hcenter;
}

.imagen__logo {
  width: 50px;
  margin-top: 40px;
}

.portada__imagen {
  width: 100%;
  background-color: $primary-color;
}

.imagen__letras {
  width: 100%;
}

.portada__teatro {
  width: 100%;
  @include Hcenter;
  margin-top: 5%;
}

.imagen__teatrolimpia {
  width: 100%;
}

.portada__premisa {
  border-left: 6px solid $primary-color;
  padding-left: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
}

/**
*   Support para navegadores que no soporten display: grid
*/

@supports (display: grid) {
  .portada__main {
    height: 100vh;
  }

  .portada__container {
    display: grid;
    grid-template-columns: 40px 2% 40% 2% 42% 10%;
    grid-template-rows: 50px 10px 33% 28% 23% 11%;
  }

  .portada__grid-item1 {
    grid-area: 1 / 1 / 1 / 1;
  }

  .portada__grid-item2 {
    grid-area: 3 / 1 / 7 / 1;
  }

  .portada__grid-item3 {
    grid-area: 1 / 3 / 7 / 3;
  }

  .portada__grid-item4 {
    grid-area: 5 / 3 / 7 / 3;
  }

  .portada__grid-item5 {
    grid-area: 4 / 5 / 4 / 7;
  }

  .portada__grid-item6 {
    grid-area: 6/ 6 / 6 /6;
  }

  .portada__imagen {
    background-color: $primary-color;
  }

  .imagen__letras {
    img {
      width: 100%;
    }
  }

  .portada__teatro {
    display: initial;
    margin-top: 0px;
  }

  .imagen__teatro {
    width: 100%;
  }

  .imagen__logo {
    width: 100%;
    margin-top: 0px;
  }

  .portada__titulo2 {
    color: $secondary-color;
    font-family: $font-family-serif;
    @include Hcenter;
    align-items: flex-end;
    width: 100%;
    font-size: 9rem;
    z-index: 2;
  }

  .portada__premisa {
    display: flex;
    align-items: center;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }

  .titulo {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    justify-content: end;
    align-items: center;
  }
}

/*------------------------------------*\
  #REPARTO
\*------------------------------------*/

.reparto__inner {
  margin-top: 5%;
  @include Hcenter;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 20px;
}

.card-body {
  @include Hcenter;
}

/*------------------------------------*\
  #HISTORIA
\*------------------------------------*/

.historia__inner {
  display: grid;
  grid-template-columns: 45% 55%;
  //grid-template-rows: repeat(7, 1fr);
}

.historia__sipnopsis,
.historia__tecnica {
  @include Hcenter;
}

.historia__grid-item1 {
  grid-area: 1 / 1 / 1 / 3;
}

.historia__grid-item2 {
  grid-area: 2 / 1 / 2 / 3;
}

.historia__grid-item3 {
  grid-area: 3 / 1 / 3 / 1;
}
.historia__grid-item4 {
  grid-area: 3 / 2 / 3 / 3;
}

.historia__grid-item5 {
  grid-area: 4 / 1 / 4 / 3;
}

.historia__grid-item6 {
  grid-area: 5 / 1 / 5 / 1;
}

.historia__grid-item7 {
  grid-area: 5 / 2 / 5 / 3;
}

.historia__grid-item8 {
  grid-area: 6 / 1 / 6 / 3;
}

.historia__grid-item9 {
  grid-area: 7 / 1 / 8 / 3;
}

.imagen__teatro,
.imagen__ilustracion {
  width: 100%;
}

.historia__imagen-teatro,
.historia__imagen-ilustracion {
  display: flex;
  align-items: center;
}

.historia__separador--rojo {
  border-top: 10px solid $primary-color;
  border-bottom: 10px solid $primary-color;
}

h4 {
  padding-bottom: 5%;
  justify-self: center;
  font-family: $font-family-sans-serif;
}

.historia__sipnopsis {
  padding-top: 4%;
  padding-bottom: 4%;
}

.historia__tecnica {
  padding-left: 4%;
}

.historia__music {
  font-size: 3rem;
  color: $secondary-color;
  background-color: $primary-color;
  line-height: 50px;
  font-family: $font-family-sans-serif;
  word-spacing: 100vw;
}

.historia__ficha {
  display: flex;
  align-items: center;
}

.ficha__titulo {
  writing-mode: vertical-lr;
  color: $secondary-color;
  background-color: $primary-color;
  transform: rotate(180deg);
  font-family: $font-family-sans-serif;
  font-size: 2.18rem;
  padding-top: 8px;
  padding-bottom: 8px;
}

.ficha__content {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  ul {
    list-style: none;
    padding-right: 2%;
    padding-left: 3%;

    li {
      display: flex;
      justify-content: space-between;

      padding-top: 4%;
      padding-bottom: 4%;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    li > p:first-child {
      font-weight: bold;
    }
  }
}

.hitoria__button {
  @include Hcenter;
  padding-top: 6%;
  padding-bottom: 6%;
}

.historia__quote {
  font-family: $font-family-sans-serif;
  color: $secondary-color;
  background-color: $primary-color;
  @include Hcenter;
  padding-top: 6%;
  padding-bottom: 6%;

  q {
    font-size: 3rem;
  }

  q:before {
    content: open-quote;
    font-weight: bold;
    font-size: 6rem;
  }

  q:after {
    content: close-quote;
    font-weight: bold;
    font-size: 6rem;
  }
}

/*------------------------------------*\
  VIDEOS & FOTOS
\*------------------------------------*/

.carousel {
  iframe {
    width: 100%;
    height: 400px;
  }
}

.fotos__teatro {
  width: 100%;
  position: relative;
  display: inline-block;
  margin-bottom: 6%;
}

.foto__texto {
  position: absolute;
  color: $secondary-color;
  top: 0;
  font-size: 5rem;
  line-height: 80px;
  font-family: $font-family-sans-serif;
}

.fotos__imagen {
  width: 100%;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer {
  background-color: $primary-color;
  margin-top: 15%;
  @include Hcenter;
  color: $secondary-color;
}

.footer__content {
  padding-top: 8%;
  width: 90%;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.footer__imagen {
  align-self: flex-end;
}

.footer__info {
  width: 40%;
  justify-self: center;
  padding-bottom: 3%;
}

.footer__rrss {
  @include Hcenter;

  a {
    margin: 2%;
    width: 10%;
  }

  img {
    width: 100%;
  }
}

.footer__menu {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: $secondary-color;
      padding-bottom: 2px;
    }

    a:hover {
      border-bottom: 3px solid $secondary-color;
      color: $secondary-color;
    }
  }
}

.footer__logo {
  width: 100%;
}

@media (max-width: $MaxWidthM) {
  .portada__titulo2 {
    font-size: 9rem;
  }

  /*------------------------------------*\
  #NAV
\*------------------------------------*/

  .navbar-light {
    background-color: $secondary-color;
  }

  /*------------------------------------*\
  #PORTADA
\*------------------------------------*/

  /**
*   Support para navegadores que no soporten display: grid
*/

  @supports (display: grid) {
    .portada__container {
      grid-template-columns: 40px 2% 50% 2% 32% 10%;
      grid-template-rows: 40px 50px 10px 33% 20% 20% 10%;
    }

    .portada__grid-item1 {
      grid-area: 2 / 1 / 2 / 1;
    }

    .portada__grid-item2 {
      grid-area: 4 / 1 / 8 / 1;
    }

    .portada__grid-item3 {
      grid-area: 2 / 3 / 8 / 3;
    }

    .portada__grid-item4 {
      grid-area: 5 / 3 / 8 / 3;
    }

    .portada__grid-item5 {
      grid-area: 5 / 5 / 5 / 7;
    }

    .portada__grid-item6 {
      grid-area: 7/ 6 / 7 /6;
    }
  }

  /*------------------------------------*\
  #REPARTO #HISTORIA #VIDEOS & FOTOS
\*------------------------------------*/

  .container__main {
    grid-template-columns: 40px 10px 1fr;
    grid-template-rows: 50px 50px 10px 1fr;
  }

  .container__grid-item1 {
    grid-area: 2 / 1 / 2 / 1;
  }

  .container__grid-item2 {
    grid-area: 4 / 1 / 5 / 1;
  }

  .container__grid-item3 {
    grid-area: 4 / 3 / 5 / 4;
  }

  /*------------------------------------*\
  #REPARTO
\*------------------------------------*/

  .reparto__lista {
    @include Hcenter;
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
  }

  /*------------------------------------*\
  #HISTORIA
\*------------------------------------*/

  .historia__inner {
    grid-template-columns: 100%;
    //grid-template-rows: repeat(7, 1fr);
  }

  .historia__tecnica {
    padding-left: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .historia__grid-item1 {
    grid-area: 1 / 1 / 1 / 2;
  }

  .historia__grid-item2 {
    grid-area: 2 / 1 / 2 / 2;
  }

  .historia__grid-item3 {
    grid-area: 3 / 1 / 3 / 2;
  }
  .historia__grid-item4 {
    grid-area: 4 / 1 / 4 / 2;
  }

  .historia__grid-item5 {
    grid-area: 5 / 1 / 5 / 2;
  }

  .historia__grid-item6 {
    grid-area: 6 / 1 / 6 / 2;
  }

  .historia__grid-item7 {
    grid-area: 7 / 1 / 7 / 2;
  }

  .historia__grid-item8 {
    grid-area: 8 / 1 / 8 / 2;
  }

  .historia__grid-item9 {
    grid-area: 9/ 1 / 10 / 2;
  }

  .historia__quote {
    q {
      font-size: 2rem;
      text-align: center;
    }

    q:before {
      content: open-quote;
      font-weight: bold;
      font-size: 3rem;
    }

    q:after {
      content: close-quote;
      font-weight: bold;
      font-size: 3rem;
    }
  }

  /*------------------------------------*\
  VIDEOS & FOTOS
\*------------------------------------*/

  .carousel {
    iframe {
      height: 300px;
    }
  }

  .foto__texto {
    font-size: 3rem;
    line-height: 50px;
  }

  /*------------------------------------*\
  #FOOTER
\*------------------------------------*/

  .footer__info {
    width: 60%;
  }
}

@media (max-width: $MaxWidthS) {
  .titulo {
    font-size: 2.5rem;
  }

  /*------------------------------------*\
  #PORTADA
\*------------------------------------*/

  /**
*   Support para navegadores que no soporten display: grid
*/

  @supports (display: grid) {
    .portada__titulo2 {
      font-size: 6rem;
    }
  }
  /*------------------------------------*\
  #REPARTO #HISTORIA #VIDEOS & FOTOS
\*------------------------------------*/

  .inner {
    width: 100%;
  }

  /*------------------------------------*\
  VIDEOS & FOTOS
\*------------------------------------*/

  .foto__texto {
    line-height: 45px;
  }

  /*------------------------------------*\
  #FOOTER
\*------------------------------------*/

  .footer {
    margin-top: 40%;
  }

  .footer__menu {
    ul {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: $MaxWidthXS) {
  * {
    box-sizing: border-box;
    font-size: 12px;
  }

  /*------------------------------------*\
  #PORTADA
\*------------------------------------*/

  .header {
    position: absolute;
    width: 100%;
    right: 0;
    z-index: 3;
  }

  @supports (display: grid) {
    .portada__container {
      grid-template-columns: 40px 2% 1fr;
      grid-template-rows: 8% 8% 2% 35% 8% 18% 1% 20%;
    }

    .portada__grid-item1 {
      grid-area: 2 / 1 /2 / 1;
    }

    .portada__grid-item2 {
      grid-area: 4 / 4 / 9 / 1;
    }
    .portada__grid-item3 {
      grid-area: 2 / 4 /9 /4;
    }
    .portada__grid-item4 {
      grid-area: 8 / 4 / 9 / 4;
    }
    .portada__grid-item5 {
      grid-area: 6 / 4 / 6 / 4;
    }
    .portada__grid-item6 {
      grid-area: 5/ 4 / 5/ 4;
    }

    .portada__titulo2 {
      font-size: 7rem;
    }

    .portada__premisa {
      border-left: 3px solid $secondary-color;
      color: $secondary-color;
      margin-left: 3%;
      margin-right: 3%;
    }

    .portada__teatro {
      width: 100%;
      @include Hcenter;
    }

    .imagen__teatrolimpia {
      width: 30%;
    }

    .imagen__teatro {
      width: 100%;
    }
  }

  /*------------------------------------*\
  VIDEOS & FOTOS
\*------------------------------------*/
  .carousel {
    iframe {
      height: 250px;
    }
  }

  .foto__texto {
    line-height: 35px;
  }
}
