/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

@import "variables";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

@import "layouts/home";

/**
 * Do NOT include anything else in this file!
 */
/* stylelint-disable */
@import "/node_modules/bootstrap/scss/bootstrap.scss";
/* stylelint-enable */
@import "../../../node_modules/aos/dist/aos.css";
